* {
  --main-color: #DC2638;
  --secondary-color: #333745;
  --link-color: #008aca;
  --main-bg-color: #e9ecf5;
  --contrast-bg-color: #e7e7e7;
}

/*#region IMPORT FONTS */

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4gaVQUwaEQbjA.woff);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lora;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqt8ndeYxZ0.woff);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*#endregion IMPORT FONTS */

/*#region GLOBAL */

.user-css-presentation {
  background-image: url(https://www.worldanvil.com/uploads/images/3c803cc7b9357dddd281f25ddc4afa5f.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user-css hr {
  background: url(https://www.worldanvil.com/uploads/images/9e3d193ca58897686de874689f7b5e1e.png) no-repeat top center;
  background-size: contain;
  display: block;
  height: 18px;
  border: 0;
  position: relative;
}

.user-css hr:before, .user-css hr:after {
  content: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png);
  display: block;
  position: absolute;
  background: var(--secondary-color);
  height: 2px;
  top: 8px;
}

.user-css hr:before {
  left: 0;
  right: 50%;
  margin-right: 15px;
}

.user-css hr:after {
  right: 0;
  left: 50%;
  margin-left: 15px;
}

.user-css .world-category-link {
  color: var(--secondary-color);
}

.user-css .category-title-icon {
  color: var(--secondary-color);
}

.user-css .history-link {
  color: var(--link-color);
}

/*#endregion GLOBAL */

/*#region HOME PAGE */

.user-css .world-title {
  color: var(--main-color);
}

.user-css h3 {
  color: var(--secondary-color);
}

.user-css h3.world-currentDate {
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Open Sans;
}

.user-css .world-authors {
  display: none;
}

.user-css .world-authors p {
  font-size: 10px;
}

/*#region TOC */

.user-css .world-toc-header {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/*#endregion TOC */

.user-css .user-row {
  font-family: Lora;
}

/*#endregion HOME PAGE */

/*#region ARTICLES */

.user-css.page, .user-css-extended .page {
  box-shadow: 0 4px 8px 0 rgba(123, 125, 124, 0.8), 0 6px 20px 0 rgba(123, 125, 124, 0.8);
}

/*#endregion ARTICLES */